{% extends "layout.html" %}

{% block body %}

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top mb-2 py-0"><!-- A grey horizontal navbar that becomes vertical on small screens -->
        <!-- Brand/logo -->
        <a class="navbar-brand" href="https://www.qut.edu.au/">
            <img src="/static/qut.png" alt="QUT" style="width: 40px;">
        </a>
        <!--Toggler/Collapsible button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Navbar Links-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About the Project</a>
                </li>
                
            </ul>
        </div>
        <!--Navbar form-->
        <form class="form-inline" action="/synonyms" method="GET">
            <input class="form-control mr-sm-2" type="text" name="word" placeholder="Enter a word">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </nav>

    <!--The word-->
    <div class="d-flex justify-content-center">
        <div class="p-2 bg-white"><h1><strong>{{ word }}</strong></h1></div>
    </div>

    <!--Error and redirect-->
    <strong>{{ error }}</strong>

{% endblock %}