{% extends "layout.html" %}

{% block body %}

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top mb-2 py-0"><!-- A grey horizontal navbar that becomes vertical on small screens -->
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="/static/qut.png" alt="QUT" style="width: 40px;">
        </a>
        <!--Toggler/Collapsible button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Navbar Links-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About the Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/interpret">Interpret the Result</a>
                </li>
            </ul>
        </div>
        <!--Navbar form - Search a new word, reset word path -->
        <form class="form-inline" action="/navbarSearch" method="GET" id="navbarSearchForm">
            <input class="form-control mr-sm-2" type="text" name="word" placeholder="Enter a word" id="navbarSearch">
            <!--<button class="btn btn-success" type="submit">Search</button>-->
            <!--Modal: Button to open the modal, ask if user want to continue, because word path will be reset-->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#resetWarning" id="navbarSearchButton">
                Search
            </button>
        </form>
    </nav>

    <!--The modal for the above form, with Fade-->
    <div class="modal fade" id="resetWarning">
        <div class="modal-dialog modal-dialog-centered"><!--Modal at the center of page-->
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <h4 class="modal-title">Warning: Word path reset?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--Modal body-->
                <div class="modal-body">
                    You are effectively deleting your current word path and starting a new search. Proceed?
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="navbarSearchProceed">Yes</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--Original word to Current word-->
    <div class="d-flex justify-content-center">
        <div class="p-2 bg-white">
            <button type="button" class="btn btn-primary d-inline-block" disabled>
                <h1><strong id="originalWord">{{ original_word }}</strong></h1>
                <span class="badge badge-warning badge-pill">original</span>
            </button>
            <h1 class="d-inline-block text-primary"><strong> ... </strong></h1>
            <button type="button" class="btn btn-primary d-inline-block" disabled>
                <h1><strong id="currentWord">{{ word }}</strong></h1>
                <span class="badge badge-warning badge-pill">current</span>
            </button>
        </div>
    </div>

    <!--The word path-->
    <div class="d-flex justify-content-center mt-2">
        <ul class="pagination pagination-lg">
            {% for word in wordPath_list %}
                <li class="page-item"><a class="page-link" href="/synonyms?word={{ word }}">{{ word }}</a></li>
            {% endfor %}
        </ul>
        <!-- <div class="p-2 bg-white"><h1><strong id="wordPath">{{ wordPath_list }}</strong></h1></div> -->
    </div>

    <!--Button to reset word path-->
    <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#resetWarning2">
            Reset Word Path
        </button>
        <!-- <a href="/" class="btn btn-warning" id="resetWordPath">Reset Word Path</a> -->
    </div>

    <!--The modal for the above reset button, with Fade-->
    <div class="modal fade" id="resetWarning2">
        <div class="modal-dialog modal-dialog-centered"><!--Modal at the center of page-->
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <h4 class="modal-title">Warning: Word path reset?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--Modal body-->
                <div class="modal-body">
                    You are effectively deleting your current word path and starting a new search. Proceed?
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <a class="btn btn-success" href="/" id="resetWordPath">Yes</a>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Choose view-->
    <div class="d-flex justify-content-center">
        <form class="form-inline">
            <div class="custom-control custom-checkbox mr-3">
                <input type="checkbox" class="custom-control-input" id="classic" name="classic" checked>
                <label class="custom-control-label" for="classic">Classic View</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="network" name="network">
                <label class="custom-control-label" for="network">Network View</label>
            </div>
        </form>
    </div>
     
    <!--Quick alert-->
    <div class="d-flex flex-wrap justify-content-center mb-0 mt-2">
        <div class="alert alert-warning alert-dismissible fade show py-1 pl-1 pr-5 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            These are the
            <button class="btn btn-primary m-1 d-inline-block">closest</button>, 
            <button class="btn btn-info m-1 d-inline-block">second-closest</button> and 
            <button class="btn btn-secondary m-1 d-inline-block">furthest</button> associated word for the current word.<br>To further understand the results, see <a href="/interpret"><strong>Interpret the Result</strong></a>
        </div>
    </div>

    <!--Main part-->
    
    <div class="panel-group">
        <!--SYNONYMS--><!--error here-->
        <div class="d-flex justify-content-center mt-3 mb-2">
            <a class="btn btn-primary" data-toggle="collapse" href="#synonyms" style="width: 500px;"><h4>Synonyms</h4></a>
        </div>
        
        <div id="synonyms" class="panel-collapse collapse">
            <div class="d-flex flex-wrap justify-content-center">
                {% if word_suggest != "" %}
                    <div class="alert alert-warning">No thesaurus results for word '{{ word }}'. Did you mean '<a class="errorRedirect" href="/navbarSearch?word={{ word_suggest }}">{{ word_suggest }}</a>'?</div>
                {% else %}
                    <div class="alert alert-warning">Word not found. Please check again.</div>
                {% endif %}
            </div>        
        </div>

        <!--RELATED-->
        <div class="d-flex justify-content-center mt-3 mb-1">
            <a class="btn btn-primary" data-toggle="collapse" href="#related" style="width: 500px;"><h4>Related Words (Top 10)</h4></a>
        </div>    
        <div id="related" class="panel-collapse collapse">
            <div class="d-flex flex-wrap justify-content-center">
                {% for item in Related_words_data %}
                    {% if item['score'] >= 10 %}
                        <button class="btn btn-primary m-1">
                            {{ item['word'] }}
                            <span class="badge badge-warning badge-pill ml-1">{{ item['score'] }}</span><!--Score here-->
                        </button>
                    {% elif item['score'] >= 5 and item['score'] < 10 %}
                        <button class="btn btn-info m-1">
                            {{ item['word'] }}
                            <span class="badge badge-warning badge-pill ml-1">{{ item['score'] }}</span><!--Score here-->
                        </button>
                    {% else %}
                        <button class="btn btn-secondary m-1">
                            {{ item['word'] }}
                            <span class="badge badge-warning badge-pill ml-1">{{ item['score'] }}</span><!--Score here-->
                        </button>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <!--CONCEPTS-->
        <div class="d-flex justify-content-center mt-3 mb-1">
            <a class="btn btn-primary" data-toggle="collapse" href="#concepts" style="width: 500px;"><h4>Related Concepts</h4></a>
        </div>
        <div id="concepts" class="panel-collapse collapse">
            <ul class="list-group">
                {% for i in range(relations_list_label|length) %}
                    <li class="list-group-item">
                        {% if word_start_or_end[relations_list_label[i]] == 'start' %}
                            <a href="#{{ relations_list_label[i] }}" data-toggle="collapse"><h5><strong>{{ word }} {{ real_relations_list_label_names[i] }}</strong></h5></a>
                            <div id="{{ relations_list_label[i] }}" class="collapse">
                                <div class="d-flex flex-wrap justify-content-center">
                                    {% for j in range(concept_network[relations_list_label[i]]|length) %}
                                    <!--Get the object with 4 fields start, end, weight, rel-->    
                                        {% if concept_network[relations_list_label[i]][j]['weight'] > 2 %}
                                            <button class="btn btn-primary m-1">
                                                {{ concept_network[relations_list_label[i]][j]['end']['label'] }}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% elif concept_network[relations_list_label[i]][j]['weight'] <= 2 and concept_network[relations_list_label[i]][j]['weight'] > 1 %}
                                            <button class="btn btn-info m-1">
                                                {{ concept_network[relations_list_label[i]][j]['end']['label'] }}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% else %}
                                            <button class="btn btn-secondary m-1">
                                                {% if relations_list_label[i] == "ExternalURL" %}
                                                    {{ concept_network[relations_list_label[i]][j]['end']['site'] }}
                                                    <span class="badge badge-success badge-pill ml-1"><a href="{{ concept_network[relations_list_label[i]][j]['end']['term'] }}" target="_blank" class="text-white">Go to site</a></span>
                                                {% else %}
                                                    {{ concept_network[relations_list_label[i]][j]['end']['label'] }}
                                                {% endif %}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a href="#{{ relations_list_label[i] }}" data-toggle="collapse"><h5><strong>_____ {{ real_relations_list_label_names[i] }} {{ word }}</strong></h5></a>
                            <div id="{{ relations_list_label[i] }}" class="collapse">
                                <div class="d-flex flex-wrap justify-content-center">
                                    {% for j in range(concept_network[relations_list_label[i]]|length) %}
                                    <!--Get the object with 4 fields start, end, weight, rel-->    
                                        {% if concept_network[relations_list_label[i]][j]['weight'] > 2 %}
                                            <button class="btn btn-primary m-1">
                                                {{ concept_network[relations_list_label[i]][j]['start']['label'] }}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% elif concept_network[relations_list_label[i]][j]['weight'] <= 2 and concept_network[relations_list_label[i]][j]['weight'] > 1 %}
                                            <button class="btn btn-info m-1">
                                                {{ concept_network[relations_list_label[i]][j]['start']['label'] }}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% else %}
                                            <button class="btn btn-secondary m-1">
                                                {% if relations_list_label[i] == "ExternalURL" %}
                                                    {{ concept_network[relations_list_label[i]][j]['start']['site'] }}
                                                    <span class="badge badge-success badge-pill ml-1"><a href="{{ concept_network[relations_list_label[i]][j]['end']['term'] }}" target="_blank" class="text-white">Go to site</a></span>
                                                {% else %}
                                                    {{ concept_network[relations_list_label[i]][j]['start']['label'] }}
                                                {% endif %}
                                                <span class="badge badge-warning badge-pill ml-1">{{ concept_network[relations_list_label[i]][j]['weight'] }}</span><!--Score here-->
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                            </div>
                        {% endif %}    
                    </li>
                    
                {% endfor %}
            </ul>
        </div>
    </div>
        
    <!--Network goes here-->
    <div class="d-flex justify-content-center mt-3">
        <div id="mynetwork"></div>
    </div>
    
    <script>
        /* Testing stuff
        var myvar = {{ x }};
        alert('x is {{ x }}');
        var myvar2 = 30;
        var abc = myvar2.toString();
        */

        // create an array with nodes
        var nodes = new vis.DataSet([
            {id: '{{ word }}', label: '{{ word }}'},
            {% for item in Related_words_data %}
                {id: '{{ item['word'] }}', label: '{{ item['word'] }}'},
            {% endfor %}
        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            {% for item in Related_words_data %}
                {from: '{{ word }}', to: '{{ item['word'] }}'},
            {% endfor %}
            
        ]);

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
        interaction: {
            dragNodes: true
        }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);

        // Detect interaction
        network.on("click", function (params) {
            /*params.event = "[original event]";
            document.getElementById('eventSpan').innerHTML = '<h2>Click event:</h2>' + JSON.stringify(params, null, 4);
            console.log('click event, getNodeAt returns: ' + this.getNodeAt(params.pointer.DOM));
            alert(`You click on ${params.nodes}`);*/
            localStorage.clear();

            // Construct redirect
            var url_to_go_network = `/navbarSearch?word=${params.nodes}`;

            // redirect to url above
            document.location.href = url_to_go_network;

        });
    </script>

    <!-- Just testing JS
    <button onclick="alert(`x is ${myvar+2} and ${myvar}`);">click me</button>
    <button onclick="alert('string is {{ z }}');">show string</button>
   
    <button id="testjs">Test</button>-->

    <!--Just some whitespace at the end-->

    <pre id="eventSpan"></pre>

    <p></p>
{% endblock %}